
.TeamInputList {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.TeamInputList ul {
    list-style: none;
    margin-left: -42px;
}

.TeamInputList .IconTextInputField .text-field {
    margin-right: 16px;
}

@media all and (min-width: 321px) {
    .TeamInputList .IconTextInputField .text-field {
        margin-right: 13px;
    }
}

/* Galaxy S5 Support */
@media all and (max-width: 360px) and (max-height: 640px) and (orientation: portrait) {
    .TeamInputList .IconTextInputField .text-field {
        margin-right: 28px;
    }
}
